<!DOCTYPE html>
{% extends 'theme.html' %}
{% block content %}
{% load static %}
<html>
<head>
	<!-- <meta charset="UTF-8"> -->
	<title>Book App</title>
	<link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<script src="{% static 'css/bootstrap.min.js' %}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	
	

</head>
<body style="background-color:gray;">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
	<nav class="navbar navbar-light" style="background-color:black;">
		<a href="{% url 'admin:index' %}" class="navbar-brand" style=color:orange;>Admin</a>
        <p style="text-align: center;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 21px; padding-top: 30px;color: white;"><i><marquee direction ="left">This is the College library of Govt.Engineering College Palakkad</marquee></i></p>
        <div>
    <a class="navbar-link btn-lg" href="{% url 'emp' %}" style="color:orange;text-decoration-line:none;">Upload Student</a>
	<a href="{% url 'empbook' %}" class="navbar-link btn-lg" style="color:orange;text-decoration-line:none;">Upload Books</a>
    <a href="{% url 'show' %}" class="navbar-link btn-lg" style="color:orange;text-decoration-line:none;">Student List</a>
    <a href="{% url 'bookshow' %}" class="navbar-link btn-lg" style="color:orange;text-decoration-line:none;">Books List</a>
    </div>
	</nav>
<br>
<h3>Books</h3>
<div class="container:">
	<div class="row">
		{% for i in books %}
		<div class="col-md-3">
			
		<div class="card">
			<img src="{{ i.empbook.url }}" class="img-responsive" style="width: 10%; float: right; margin-right: 10px;" >
			<div class="card-body">
			  <h5 class="card-title">{{i.bname}}</h5>
			  <p class="card-text">{{i.bauther}}</p>
			  <a href="#" class="btn btn-primary">buy</a>
			</div>
		</div>
		<!-- <form method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Upload</button>
		</form> -->
		</div>
	
	{% endfor %}
  </div>
  </div>
      
  <!-- "{{ book.picture.url }}" -->
  <!-- "{% static 'image/1.jpg' %}" -->
        
{% endblock %} 


</body>
</html>